[Desktop Entry]
Version=1.0
Type=Link
Name=Combo.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/aluraplus/blob/aula03/img/Combo.png
