[Desktop Entry]
Version=1.0
Type=Link
Name=Telas.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/aluraplus/blob/aula03/img/Telas.png
